@import "bootstrap/scss/bootstrap";

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin-bottom: 0.75em;
// }

#App {
  min-height: 100vh;
  background-color: gray;
}

.custom-card-size {
  width: 50%;
  margin: auto;
}

.custom-card-img {
  height: 200px;
  // width: 100%;
  object-fit: cover;
}
